*{margin: 0; padding: 0;}
img, input{border: none;}
a{text-decoration: none;}
body{
	background: #989898;
}
input {
	outline: none; border: none; font-size: 14px;
}
.lcang{
	width: 263px; height: 136px; margin: 100px auto 0;
	padding-left: 37px;
}
.np{
	width: 260px; height: 40px;
	padding:10px 0 0 40px; margin: 10px auto 0;
}
.name{
	
	background: url(../img/usericon.png) no-repeat 5px 10px #cbcbcb;
	
}
.name input{
	width: 249px; height: 30px; border-left: 1px solid white;
	line-height: 50px; background: #cbcbcb;
	padding-left: 10px;
}
